/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#FFFF00;
    color: white;
}

h2 {
    margin: 0;
    color:#213ba5;
}


a:hover {
    background-color: #555;
}

/* Estilos de tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 1PX;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #afa54c;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FFFF00;
}

#cart-icon-container {
    position: relative;
}

#cart-icon {
    width: 40px;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}
